Flask==0.10.1
Flask-Login==0.2.11
Flask-WTF==0.10.3
Jinja2==2.7.3
MarkupSafe==0.23
PyJWT==0.4.1
WTForms==2.0.1
Werkzeug==0.9.6
facebook-sdk==0.4.0
gunicorn==19.1.1
httplib2==0.9
itsdangerous==0.24
oauth2client==1.2
oauthlib==0.7.2
psycopg2==2.5.4
requests==2.5.1
six==1.9.0
stormpath==1.2.7
virtualenv==12.0.5
wsgiref==0.1.2
Flask-SQLAlchemy==2.0
SQLAlchemy==0.9.8
GitHub-Flask==2.0.1
