<!DOCTYPE html>
<html>
  <head>
    <title>CAPx - CIS 440</title>
	
	 <!-- Meta tag -->
	<meta name="robots" content="noindex, nofollow" />	
    <meta charset="utf-8" />

    <!-- Link tag for CSS -->
	<link type="text/css" rel="stylesheet" href="../static/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="../static/dist/css/bootstrap-theme.css" />
	<link type="text/css" rel="stylesheet" href="../static/dist/css/css5.css" />
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
	
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	
	<!-- JavaScript Tags -->
	<script type="text/javascript" src="../static/dist/js/bootstrap.min.js"></script>

  </head>
  
  
  
  <body>
    <div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="section1">
					<div class="container">
							<div class="row">
								<nav class="navbar navbar-default">
									  <div class="container-fluid">
										<!-- Brand and toggle get grouped for better mobile display -->
										<div class="navbar-header">
										  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										  </button>
										  <a class="navbar-brand" href="#"><img style="max-height: 45px; margin-top: -13px; padding: none;" src="../static/logo3.png" alt="logo1"/></a>
										</div>
										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										  <ul class="nav navbar-nav move-right">
											<li class="navbarlist navitems"><a href="#"><!--<span class="glyphicon glyphicon-home msgtext" aria-hidden="true"></span>-->Home</a></li>
											<li class="navbarlist active-tab active1 navitems"><a href="#">Projects<span class="sr-only">(current)</span></a></li>
											<li class="navbarlist navitems"><a href="#">Showroom</a></li>
											<li class="navbarlist navitems"><a href="#">Contact</a></li>
											<li class="navbarlist navitems"><a href="#">About</a></li>
										  </ul>
										  
										  <ul class="nav navbar-nav navbar-right ">
											<li class="dropdown">
											  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Log In <span class="caret"></span></a>
											  <ul class="dropdown-menu expandLogin" role="menu">

												<form id="joinform" action="/login.html" method="post">
														<p>
															<!-- Username -->
															<label for="username">Username:</label>
															<input type="text" id="username" name="username"
															required autofocus
															pattern="[a-zA-Z0-9-_!$]{4,15}"
															title="Username: 4-15 chars, u/l case letters, 0-9, - _ ! or $ only!"															
															/>
															
															<!-- Password -->
															<label for="password">Password:</label>
															<input type="password" id="password" name="password" 
															required
															pattern="[a-zA-Z0-9-_!$]{5,15}"
															title="Password: 5-15 chars, u/l case letters, 0-9, - _ ! or $ only. No spaces."															
															/>
															<input type="submit" value="Login" />
														</p>
													</form>	
												<li><a href="#" style="text-align: right";>Don't have an account? Register Here</a></li>
												<li class="divider"></li>

											  </ul>
											</li>
										  </ul>
										</div><!-- /.navbar-collapse -->

									  </div><!-- /.container-fluid -->
									</nav>
							</div>
					</div>
				</div>
			</div>
	</div>
		
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">Projects 
	
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
		
<div class="container-fluid addPadding">
			{% for row in rows: %}
					<div class="row">		
					<div class="col-md-12">
					<div class="container">
					<div class="row panelshadow" style="background-color: #fff">
					<div class="panel panel-default panelborder">
					<!-- Default panel contents -->
					<div class="panel-heading panelHeaderBlack ">{% print row[1] %}   ---!!! This text was loaded from a Heroku postgres DB !!!---<hr style="margin: 0px; padding: 0px;"></div>
					<table class="panelshadow">
					<div class="col-md-1 projectUpvote">								
								<form id="upvoteForm" action="/upvote{% print row[0] %}" method="post">
								<input type="submit" name="submit" value="Upvote"></input>
								</form>
								<span class="rating">{% print row[4] %}</span>
								<form id="downvoteForm" action="/downvote{% print row[0] %}" method="post">
								<input type="submit" name="submit" value="Downvote"></input>
								</form>									
					</div>
					<div class="col-md-8 projectDescription">
					<div class="row">
					<div class="col-md-12 projectDescription">
					<p>{% print row[2] %} ---!!! This text was loaded from a Heroku postgres DB !!!---</p>
					</div>
					</div>
					<div class="row">
					<div class="col-md-12 projectComments">
					<a class="showComment">View Dr. Clark's Comments</a>
					<div class="hideNew" style="display: none;">
						{% print row[3] %}
					</div>

					<div id="insert{%print row[0] %}"></div>
					</div>
					</div>
					</div>
					<div class="col-md-3 projectPicture">
					<p>Company Logo Here</p>
					</div>
					</table>
					</div>
					</div>
					</div>
			{% endfor %}
				</div>
			</div>
	</div>
		
	<script>
		$(function() {
			$('.showComment').click(function(e) {
				$(event.target).next().fadeToggle()
			});
		});
	</script>	
  </body>
</html>