{% extends 'base_navigation' + logincheck + '.html' %}
{% block content %}	
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">
										About CIS 440
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
	
	<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="section-heading">Course Description and Objectives</h1>
                    
                    
					<p class="section-paragraph"> CIS 440, aka “Systems Design and Electronic Commerce”, is the capstone course for the W. P. Carey School’s 
					undergraduate Information Systems program.  Over the course of fifteen weeks (or in the summer semester, six very compressed weeks), 
					our senior students work together in self-organizing teams to complete IT/IS projects that deliver tangible business value to real 
					businesses.  They apply the whole range of skills they have acquired through earlier Information Systems coursework, internships, 
					and work experience.
					</p>
					<p>
					CIS 440 is a joy to teach, because the capstone projects quickly take center stage and much of the learning is accomplished laterally, 
					as insights and discoveries are shared within and across teams.  Nonetheless, I do lecture a little bit!  Some of the important topics we 
					cover in the class, and that students can immediately put to practical use, include:
					</p>
					<ul>
					<li>the Agile approach to project management, and the Scrum framework in particular</li>
					<li>project scoping and requirements discovery</li>
					<li>metrics and “information radiators” for empirical project management</li>
					<li>modern software development practices including test-driven-development (TDD)</li>
					<li>Dev/Ops, continuous integration, automated testing, and continuous delivery</li>
					</ul>
					<p>
					One of the main objectives of the course is that students will improve their communication and organizing skills as they learn 
					from (brutal) experience how to work as a self-organizing team and engage with a real client to complete a project with limited time 
					and resources.  They invariably experience miscommunications, unpredictably changing requirements, and a host of other challenges, 
					and learn to overcome them.
					</p>
					<h1 class="section-heading">Contact us</h1>
				</div>
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-heading resume-heading">
						<div class="row">
						  <div class="col-md-12">
							<div class="col-md-3">
							  <figure>
								<img class="img-circle img-responsive" alt="" src="../static/clark.jpg">
							  </figure>
							</div>

							<div class="col-md-9">
							  <ul class="list-group">
								<li class="list-group-item">Joseph Clark</li>
								<li class="list-group-item">Professor</li>
								<li class="list-group-item">Arizona State University</li>
								<li class="list-group-item"><i class="fa fa-phone"></i> 000-000-0000 </li>
								<li class="list-group-item"><i class="fa fa-envelope"></i> joeclark.phd@gmail.com</li>
							  </ul>
							</div>
						  </div>
						</div>
					  </div>
					  </div>
				</div>
        </div>
	</div>
{% endblock %}