{% extends 'base_navigation' + logincheck + '.html' %}
{% block content %}	
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">
										About CIS 440
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
	
	<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="section-heading">Course Description and Objectives</h1>
                    
					<p class="section-paragraph"> CIS 440, aka "Enterprise Systems Development", is the capstone course for the W. P. Carey School’s 
					undergraduate Information Systems program.  Over the course of fifteen weeks (or in the summer semester, six very compressed weeks), 
					our senior students work together in self-organizing teams to complete IT/IS projects that deliver tangible business value to real 
					businesses.  They apply the whole range of skills they have acquired through earlier Information Systems coursework, internships, 
					and work experience.
					</p>
					<p>
					Some of the important topics we 
					cover in the class, and that students can immediately put to practical use, include:
					</p>
					<ul>
					<li>the Agile approach to project management, and the Scrum framework in particular</li>
					<li>project scoping and requirements discovery</li>
					<li>metrics and "information radiators" for empirical project management</li>
					<li>modern software development practices including test-driven-development (TDD)</li>
					<li>Dev/Ops, continuous integration, automated testing, and continuous delivery</li>
					</ul>
					<p>
					One of the main objectives of the course is that students will improve their communication and organizing skills as they learn 
					from (brutal) experience how to work as a self-organizing team and engage with a real client to complete a project with limited time 
					and resources.  They invariably experience miscommunications, unpredictably changing requirements, and a host of other challenges, 
					and learn to overcome them.
					</p>
					<h1 class="section-heading">Contact the Professors</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 col-sm-4 col-md-4">
					<div class="well well-sm">
						<div class="row">
							<div class="col-sm-6 col-md-4">
								<img src="../static/clarkpng.png" alt="Joseph Clark" class="img-rounded img-responsive" />
							</div>
							<div class="col-sm-6 col-md-8">
								<h4>Dr. Joseph Clark</h4>                     
								<p><i class="glyphicon glyphicon-envelope"></i> joeclark.phd@gmail.com<br />
									<i class="glyphicon glyphicon-globe"></i> (480) 965-0024</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
{% endblock %}