{% extends 'base_navigation' + logincheck + '.html' %}
{% block content %}	
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">
										Propose a Project
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h3>Here are some general guidelines for a suitable project:</h3>
			<li>Projects must involve some type of software development -- web, mobile, or standalone application(s)</li>
			<li>There should be a point of contact or contacts that will be available to provide continuous feedback on the student team's work throughout the semester.</li>
			<li>Reasonably sized - projects should not be so large in size that it prevents students from having a somewhat shippable product by the end of the semester.</li>
			<li>Part, or all of the project <strong>must</strong> be open source. Students will be using GitHub for collaboration purposes. Parts of the project that are trade secrets can be kept offline and closed.</li>
			<li>The project must be real work, even if it will not be fully completed and implemented in one semester. A prototype or beta version can be acceptable, but a project without a client, or that isn't testable, is not.</li>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h3>Propose a Project:</h3>
			Fields marked with * are required
			
							
				<form action="/proposeproject" method="post" name="propose" accept-charset="utf-8" enctype="multipart/form-data">
                    <div class="modal-body" style="padding: 5px;">
                          <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="firstname" pattern="[A-Za-z]{1,28}" placeholder="* First name" type="text" required autofocus />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="lastname" pattern="[A-Za-z]{1,28}" placeholder="* Last name" type="text" required />
                                </div>
                            </div>
							
							<div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="email" placeholder="* E-mail" type="text" required autofocus />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="phone" pattern="[0-9]{1,20}" placeholder="Phone # no symbols" type="text" />
                                </div>
                            </div>
													
							
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input class="form-control" name="company" pattern="[A-Za-z0-9 ]{1,49}" placeholder="* Company name" type="text" required />
                                </div>
                            </div>
							
							<div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                   <input class="form-control" name="project" pattern="[A-Za-z0-9 ]{1,99}" placeholder="* Project name" type="text" required />
									
                                </div>
                            </div>
							
							<div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
								    Company Logo - Allowed extensions .png, .jpeg, .jpg, .gif </br>
									For optimal results: Width 150px, Height 75px with white or transparent background<input type="file" name="file">
                                </div>
                            </div>
							
						                           
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <textarea maxlength="300" style="resize:vertical;" class="form-control" placeholder="* Brief Project description. Max 300 characters..." rows="6" name="comment" required></textarea>
                                </div>
                            </div>
							
							
							
							
                        </div>  
                        <div class="panel-footer" style="margin-bottom:-14px; text-align: center;">
                            <input type="submit" class="btn btn-success" value="Send"/>
                                <!--<span class="glyphicon glyphicon-ok"></span>-->
                            <input type="reset" class="btn btn-danger" value="Clear" />
                                <!--<span class="glyphicon glyphicon-remove"></span>-->
                        </div>
					</form>
				</div>
			</div>
		</div>
		
	<SCRIPT LANGUAGE="javascript">
	
	function KeepCount() {

	var NewCount = 0

	if (document.propose.HTML.checked)
	{NewCount = NewCount + 1}

	if (document.propose.CSS.checked)
	{NewCount = NewCount + 1}

	if (document.propose.Java.checked)
	{NewCount = NewCount + 1}

	if (document.propose.Python.checked)
	{NewCount = NewCount + 1}

	if (document.propose.CSharp.checked)
	{NewCount = NewCount + 1}
	
	if (document.propose.Django.checked)
	{NewCount = NewCount + 1}
	
	if (document.propose.iOSMobile.checked)
	{NewCount = NewCount + 1}

	if (document.propose.Android.checked)
	{NewCount = NewCount + 1}
	
	if (NewCount == 6)
	{
	alert('Only pick the 5 most important ones.')
	document.propose; return false;
	}
	} 
	</SCRIPT>

{% endblock %}