<!DOCTYPE html>
<html>
  <head>
    <title>CAPx - CIS 440</title>
	
	 <!-- Meta tag -->
	<meta name="robots" content="noindex, nofollow" />	
    <meta charset="utf-8" />

    <!-- Link tag for CSS -->
	<link type="text/css" rel="stylesheet" href="../static/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="../static/dist/css/bootstrap-theme.css" />
	<link type="text/css" rel="stylesheet" href="../static/dist/css/css5.css" />
	<link type="text/css" rel="stylesheet" href="../static/dist/css/bootstrap-social.css" />
	<link type="text/css" rel="stylesheet" href="../static/font-awesome-4.3.0/css/font-awesome.css" />
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
	
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	
	<!-- JavaScript Tags -->
	<script type="text/javascript" src="../static/dist/js/bootstrap.min.js"></script>

  </head>
  
 <body>
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="section1">
					<div class="container">
							<div class="row">
								<nav class="navbar navbar-default">
									  <div class="container-fluid" style="padding-left: 0px; padding-right: 0px">
										<!-- Brand and toggle get grouped for better mobile display -->
										<div class="navbar-header">
										  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										  </button>
										  <a class="navbar-brand" href="#"><img style="max-height: 45px; margin-top: -13px; padding: none;" src="../static/logo3.png" alt="logo1"/></a>
										</div>
										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										  <ul class="nav navbar-nav move-right">
											<li class="navbarlist {{ homeStatus }} navitems"><a href="/">Home</a></li>
											<li class="navbarlist {{ projectStatus }} navitems"><a href="projects">Projects<span class="sr-only">(current)</span></a></li>
											<li class="navbarlist {{ showroomStatus }} navitems"><a href="showroom">Showroom</a></li>
											<li class="navbarlist {{ aboutStatus }} navitems"><a href="about">About</a></li>
										  </ul>
										  
										  <ul class="nav navbar-nav navbar-right ">
											<li class="navbarlist navitems">
											<form action="/login">
											<button type="submit" href="/login.html" class="btn btn-default btnCustom" ><i class="fa fa-github fa-2x pull-left" style="text-align: left;" ></i>Sign in with GitHub<hr style="margin: 0px; padding: 0px;"></button>
											</form>
											
											</li>
										  </ul>
										  
										</div><!-- /.navbar-collapse -->

									  </div><!-- /.container-fluid -->
									</nav>
							</div>
					</div>
				</div>
			</div>
	</div>
	
	{% block content %}
	
	{% endblock %}
	
</body>

</html>