{% extends 'base_navigation' + logincheck + '.html' %}
{% block content %}	
	<div class="container-fluid" >
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">
										Welcome to CIS440.com
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
	

	
	<div class="container" style="padding-top: 12px; background-color: #fff">
			<div class="row">
				<div class="col-md-8">
				{% for row in blogs: %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-6">
									<h3 class="panel-title">{% print row[1] %}</h3>
								</div>
								<div class="col-md-6" style="text-align: right;">Posted by {% print row[3] %} on {% print row[4] %}
								</div>
							</div>
						</div>
						<div class="panel-body">
							<p>{% print row[2] %}</p>
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="col-md-4">
					<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ASU" data-widget-id="569602141166133248">Tweets by @ASU</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id))
					{js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				</div>
			</div>
	</div>
	
{% endblock %}