{% extends 'base_navigation' + logincheck + '.html' %}
{% block content %}	
	<div class="container-fluid" >
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">
										Welcome to CIS440.com
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
	
	<div class="container" style="padding-top: 12px; background-color: #fff">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-9">
									<h3 class="panel-title">CIS 440 Beta Launch! </h3>
								</div>
								<div class="col-md-3" style="text-align: right;">Posted Feb. 22, 2015
								</div>
							</div>
						</div>
						<div class="panel-body">
							Welcome to CIS 440! </br>
							The site will allow both students and companies to post project opportunities. In addition, 
							there will be an area that shows various past projects. Students will be able to view all available 
							projects and rank them with a up/downvote system. Students will also be able to signup for projects 
							directly on the site. Each project will have information provided by the company as well as Dr. Clark's 
							comments. Additionally, each project will have Tags, giving a quick overview of the desired coding language, 
							required technologies and other characteristics.
							</br></br>
							Contributors: Dr. Clark, Steve Truong, Alex Neumann, Jose Recendez, Sneha Dadhania & Tom Rullestad
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ASU" data-widget-id="569602141166133248">Tweets by @ASU</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id))
					{js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				</div>
			</div>
	</div>
{% endblock %}