{% extends 'base_navigation' + logincheck + '.html' %}
{% block content %}	
	<div class="container-fluid" >
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">
										Welcome to CIS440.com										
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
	

	
	<div class="container" style="padding-top: 12px; background-color: #fff">
			<div class="row">
				<div class="col-md-8">
				{% for row in blogs: %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-6">
									<h3 class="panel-title"><span style="font-weight: bold;">{% print row[1] %}</span></h3>
								</div>
								<div class="col-md-6" style="text-align: right;">
								{% if row[6] == 'yes' %}
								Last edit by <span style="font-weight: bold;">{% print row[3] %}</span> on {% print row[4] %}
								{% else %}
								Posted by <span style="font-weight: bold;">{% print row[3] %}</span> on {% print row[4] %}
								{% endif %}
							
								</div>
							</div>
						</div>
						<div class="panel-body">
							{% filter markdown %}{% print row[2] %}
						
							{% endfilter %}
							
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="col-md-4">
				<p>Utilizing the knowledge from the Computer Information Systems (CIS) degree coursework, 
				CIS 440: Systems Design and Electronic Commerce, gives CIS students the ability to put their 
				technical knowledge to the test. Designed as the last required course for the degree, CIS seniors, 
				in groups of 3-5, spend an entire semester working on a software development project that is assigned 
				by an external client. Students will apply various iterative and incremental software development methodologies, 
				such Scrum, to build a fully-shippable or potentially shippable product in the span of about 15 weeks. Since they 
				will be practicing iterative development methodologies, students are required to have a total of six different product 
				releases over the semester, in addition to a final, version 1.0, release, which they will showcase at the end of the 
				semester. Clients will also provide the professor with feedback at the end of the semester on the student group that 
				they worked with, which will factor into each team member's grade. If you'd like to propose a project for an upcoming 
				semester, please visit the <strong>Propose Project</strong> page, to learn more about the requirements for a project. 
				If you'd like some more information, or have questions for the professor, please visit the <strong>About & Contact</strong> page, 
				to find the professor's contact information.</p>


				</div>
			</div>
	</div>
	<!-- company logos start -->	
	
<div class="container dynamicTile">
<div class="row ">

<h2>Companies we have worked with:</h2>

    <div class="col-sm-2 col-xs-4">
    	<div id="tile1" class="tile">
        
         <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
               <img src="../static/asu.jpg" width="300" height="300"/>
            </div>
          </div>
        </div>
         
    	</div>
	</div>
	<div class="col-sm-2 col-xs-4">
		<div id="tile2" class="tile">
    	 
         <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../static/banner.jpg" width="300" height="300"/>
            </div>
          </div>
        </div>
         
		</div>
	</div>
	<div class="col-sm-2 col-xs-4">
		<div id="tile3" class="tile">
    	 
        <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
               <img src="../static/authoritylabs.png" width="300" height="300"/>
            </div>
            </div>
         </div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-4">
		<div id="tile4" class="tile">
    	 
        <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../static/yo-momentscrop.jpg" width="300" height="300"/>
            </div>
          </div>
        </div>
         
		</div>
	</div>
    <div class="col-sm-2 col-xs-4">
		<div id="tile5" class="tile">
    	 
         <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
                <img src="../static/mycounterpane.jpg" width="300" height="300"/>
            </div>
          </div>
        </div>
         
		</div>
	</div>
	<div class="col-sm-2 col-xs-4">
		<div id="tile6" class="tile">
    	 
         <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../static/learninginterviews.png" width="300" height="300"/>
            </div>
          </div>
        </div>
         
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 col-xs-8">
		<div id="tile7" class="tile">
    	 
        <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../static/protiviti.jpg" width="600" height="300"/>
            </div>
          </div>
        </div>
         
		</div>
	</div>
	<div class="col-sm-2 col-xs-4">
		<div id="tile8" class="tile">
    	 
         <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../static/onvard.jpg" width="300" height="300"/>
            </div>
            </div>
         </div>
         
		</div>
	</div>
	<div class="col-sm-2 col-xs-4">
		<div id="tile9" class="tile">
    	 
          <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../static/heroes_for_students.jpg" width="300" height="300"/>
            </div>
          </div>
        </div>
         
		</div>
	</div>
	<div class="col-sm-4 col-xs-8">
		<div id="tile10" class="tile">
    	 
           <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../static/aps.jpg" width="600" height="300"/>
            </div>
          </div>
        </div>
         
		</div>
	</div>
  
</div>
</div>
	
{% endblock %}