<!DOCTYPE html>
<html>
  <head>
    <title>CAPx - CIS 440</title>
	
	 <!-- Meta tag -->
	<meta name="robots" content="noindex, nofollow" />	
    <meta charset="utf-8" />

    <!-- Link tag for CSS -->
	<link type="text/css" rel="stylesheet" href="../static/dist/css/formcss.css" />
	<link type="text/css" rel="stylesheet" href="../static/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="../static/dist/css/bootstrap-theme.css" />
	<link type="text/css" rel="stylesheet" href="../static/dist/css/css5.css" />
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
	
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	
	<!-- JavaScript Tags -->
	<script type="text/javascript" src="../static/dist/js/bootstrap.min.js"></script>

  </head>
  
  
  
  <body>
    <div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="section1">
					<div class="container">
							<div class="row">
								<nav class="navbar navbar-default">
									  <div class="container-fluid">
										<!-- Brand and toggle get grouped for better mobile display -->
										<div class="navbar-header">
										  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										  </button>
										  <a class="navbar-brand" href="#"><img style="max-height: 45px; margin-top: -13px; padding: none;" src="../static/logo3.png" alt="logo1"/></a>
										</div>
										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										  <ul class="nav navbar-nav move-right">
											<li class="navbarlist navitems"><a href="#"><!--<span class="glyphicon glyphicon-home msgtext" aria-hidden="true"></span>-->Home</a></li>
											
					
						
											
											<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<strong class="caret"></strong></a>
											<ul class="dropdown-menu">
											<li>
											<a href="#">Projects</a>
											</li>
											</li>
											<li>
											<a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contact" data-original-title>Submit Project</a>
											
											</li>
											</ul>
											<li class="navbarlist navitems"><a href="#">Showroom</a></li>
											<li class="navbarlist navitems"><a href="#">Contact</a></li>
											<li class="navbarlist navitems"><a href="#">About</a></li>
										  </ul>
										  
										  
										</div><!-- /.navbar-collapse -->

									  </div><!-- /.container-fluid -->
									</nav>
							</div>
					</div>
				</div>
			</div>
	</div>
		
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">Projects 
	
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
		

	
	
	
	
	
	
	
	
	<div class="container">
	<div class="row">
    <br/><br/><br/>
        
       

        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Project Submit Form.</h4>
                    </div>
                    <form action="#" method="post" accept-charset="utf-8">
                    <div class="modal-body" style="padding: 5px;">
                          <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="firstname" placeholder="First name" type="text" required autofocus />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="lastname" placeholder="Last name" type="text" required />
                                </div>
                            </div>
							
							<div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="email" placeholder="E-mail" type="text" required autofocus />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="phone" placeholder="Phone #" type="text" required />
                                </div>
                            </div>
							
							
							
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input class="form-control" name="company" placeholder="Company name" type="text" required />
                                </div>
                            </div>
							<div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input class="form-control" name="project" placeholder="Project name" type="text" required />
									
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <textarea style="resize:vertical;" class="form-control" placeholder="Brief Project description" rows="6" name="comment" required></textarea>
                                </div>
                            </div>
							
							
							
							
                        </div>  
                        <div class="panel-footer" style="margin-bottom:-14px;">
                            <input type="submit" class="btn btn-success" value="Send"/>
                                <!--<span class="glyphicon glyphicon-ok"></span>-->
                            <input type="reset" class="btn btn-danger" value="Clear" />
                                <!--<span class="glyphicon glyphicon-remove"></span>-->
                            <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
        
	</div>
   
    
</div>
	
	<script>
		$(function() {
			$('.showComment').click(function(e) {
				$(event.target).next().fadeToggle()
			});
		});
	</script>	
  </body>
</html>