{% extends 'base_navigation' + logincheck + '.html' %}
{% block content %}	
{% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {%- for msg in msgs %}
			{% if msg == 'You already upvoted this project!' %}
				<div class="alert alert-danger text-center" style="font-weight: bold; padding: 0px; padding-top: 10px; margin: 0px; height: 45px; border-radius: 0px;">
				  {{ msg }}
				</div>
			{% endif %}
			{% if msg == 'You already downvoted this project!' %}
			<div class="alert alert-danger text-center" style="font-weight: bold; padding: 0px; padding-top: 10px; margin: 0px; height: 45px; border-radius: 0px;">
				  {{ msg }}
				</div>
			{% endif %}
			{% if msg == 'You successfully voted for this project!' %}
				<div class="alert alert-success text-center" style="font-weight: bold; padding: 0px; padding-top: 10px; margin: 0px; height: 45px; border-radius: 0px;">
				  {{ msg }}
				</div>
			{% endif %}
			{% if msg == 'You now have a neutral vote for this project!' %}
				<div class="alert alert-info text-center" style="font-weight: bold; padding: 0px; padding-top: 10px; margin: 0px; height: 45px; border-radius: 0px;">
				  {{ msg }}
				</div>
			{% endif %}		
			{% if msg == 'You already expressed interest to work on this project!' %}
				<div class="alert alert-danger text-center" style="font-weight: bold; padding: 0px; padding-top: 10px; margin: 0px; height: 45px; border-radius: 0px;">
				  {{ msg }}
				</div>
			{% endif %}	
			{% if msg == 'You successfully expressed interest to work on this project!' %}
				<div class="alert alert-success text-center" style="font-weight: bold; padding: 0px; padding-top: 10px; margin: 0px; height: 45px; border-radius: 0px;">
				  {{ msg }}
				</div>
			{% endif %}	
          {% endfor -%}
        {% endif %}
      {% endwith %}
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">Projects 
	
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h4>This is a list of all currently available projects for CIS 440.</br></br>Legend:</br></h4>
			<input type="submit" id="express" name="express" class="btn btn-primary btn-xs" value="Express Interest" style="width: 100px;" /> This indicates that you are interested in working on this project. 
			Your github name will be added to the project for others to see.</br>
			<span class="label label-warning" style="color: #3f3f3f; font-size: 80%;">Python</span> These tags highlight the skills and technologies that will be used in the particular project.</br>
			<span class="label label-danger" style="color: #fff">Modified</span> This tag indicates that the project description was modified by an admin.
			
			
			</br></br>
			</div>
		</div>
	</div>
		
<div class="container-fluid">
	{% for row in rows: %}
		<div class="container">
		<div class="row">
				<div class="col-md-1" style="padding-right: 0px; ">								
						<form id="upvoteForm" action="/upvote" method="post">							
							<input type="hidden" id="upvote" name="upvote" value="{% print row[0] %}" />
							<input type="image" src="../static/upvote_active2.png" alt="Submit button" 
							onmouseover="this.src='../static/upvote_active3.png';" onmouseout="this.src='../static/upvote_active2.png';"
							/>
							<!--<input type="submit" value="Upvote!" />-->
								
						</form>
							
						<span class="rating" style="padding-left: 13px;">{% print row[4] %}</span>
								
						<form id="downvoteForm" action="/downvote" method="post">
								<input type="hidden" id="downvote" name="downvote" value="{% print row[0] %}" />
								<input type="image" src="../static/downvote_inactive2.png" alt="Submit Form" 
								onmouseover="this.src='../static/downvote_active2.png';" onmouseout="this.src='../static/downvote_inactive2.png';"
								/>
								<!--<input type="submit" value="Downvote!" />-->
								
						</form>								

				
				
					
				</div>
		<div class="col-md-11">
		<div class="row panelshadow" style="background-color: #fff">
		<div class="panel panel-default panelborder">
		<!-- Default panel contents -->
			<!--<div class="panelHeaderBlack ">{% print row[1] %}<small style="color: #dedede">  Company Name</small><hr style="margin: 0px; padding: 0px;"></div>-->
				<table class="panelshadow">
					<div class="col-md-2 projectPicture">
						<div class="row">
							<!-- <div class="col-md-6 extrainfo">
							<p>SparkOpenResearch.com</p>
							</div>
							<div class="col-md-6">
								<img class="companylogo" align="right" src="../static/projecttest1.png" alt="project" />
								
							</div> -->
							<div class="col-md-12" style="text-align: right;">
								<img class="companylogo" height="75px" width="150px" align="left" src="../static/images/capx.jpeg" alt="project" />
							</div>
						</div>
					</div>
					<div class="col-md-8 projectDescription">
						<div class="row">
							<div class="col-md-12 projectDescription">
							<p><span style="font-size: 120%; font-weight: bold; color: #4d67d8; ">{% print row[1] %}</span>
							{% print row[2] %} 
							
							{% if row[15] == 'yes' %}
							<span class="label label-danger" style="color: #fff">Modified</span>
							{% endif %}
							<span class="label label-warning" style="color: #3f3f3f">{% print row[5][0] %}</span>
							<span class="label label-warning" style="color: #3f3f3f">{% print row[5][1] %}</span>
							<span class="label label-warning" style="color: #3f3f3f">{% print row[5][2] %}</span>
							<span class="label label-warning" style="color: #3f3f3f">{% print row[5][3] %}</span>
							<span class="label label-warning" style="color: #3f3f3f">{% print row[5][4] %}</span>
							<span class="label label-warning" style="color: #3f3f3f">{% print row[5][5] %}</span>
							<span class="label label-warning" style="color: #3f3f3f">{% print row[5][6] %}</span>
							<span class="label label-warning" style="color: #3f3f3f">{% print row[5][7] %}</span>
							<span class="label label-warning" style="color: #3f3f3f">{% print row[5][8] %}</span>
							
							</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 projectComments">
								<a class="showComment">View Professor's Comments</a>
								<div class="hideNew" style="display: none;">
									{% print row[3] %}
								</div>
							<div id="insert{%print row[0] %}"></div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="row" style="text-align: right; padding-right: 3px;">
							<small>Added: {% print row[6] %}</small>
							{% if logincheck == '_loggedin' %}
							<form id="interestForm" action="/expressInterest" method="post">
								<input type="hidden" id="expressInterest" name="expressInterest" value="{% print row[0] %}" />	
								<input type="submit" id="express" name="express" class="btn btn-primary btn-xs" value="Express Interest" style="width: 100px;" />
				
							</form>	
							</br>
								<a href="https://github.com/{% print row[13][0] %}"><span class="label" style="color: #3f3f3f">{% print row[13][0] %}</span></a>
								<a href="https://github.com/{% print row[13][1] %}"><span class="label" style="color: #3f3f3f">{% print row[13][1] %}</span></a>
								<a href="https://github.com/{% print row[13][2] %}"><span class="label" style="color: #3f3f3f">{% print row[13][2] %}</span></a>
								<a href="https://github.com/{% print row[13][3] %}"><span class="label" style="color: #3f3f3f">{% print row[13][3] %}</span></a>
								<a href="https://github.com/{% print row[13][4] %}"><span class="label" style="color: #3f3f3f">{% print row[13][4] %}</span></a>
								<a href="https://github.com/{% print row[13][5] %}"><span class="label" style="color: #3f3f3f">{% print row[13][5] %}</span></a>
								<a href="https://github.com/{% print row[13][6] %}"><span class="label" style="color: #3f3f3f">{% print row[13][6] %}</span></a>
							{% endif %}
						</div>
					</div>
					
				</table>
		</div>
		</div>
		</div>
				
			{% endfor %}
			</div>
		</div>
</div>
		
	<script>
		$(function() {
			$('.showComment').click(function(e) {
				$(event.target).next().fadeToggle()
			});
		});
	</script>	

{% endblock %}	
