{% extends 'base_navigation' + logincheck + '.html' %}
{% block content %}	
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">
										Browse previous projects below!
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
	<!-- main content start -->
	 <!-- row 1 start -->
	<div class="container" id="tourpackages-carousel">
	</br>
	</br>
		<div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../static/crossfit.png" alt="Crossfit">
              <div class="caption">
                <h4><a href="https://github.com/asu-cis-capstone/crossfit" onclick="window.open(this.href); return false" ><b>Crossfit mobile appliction</b></a></h4>
                <p>The mobile application designed for a CrossFit resource company is intended for the CrossFit community to track their results in completing 
				the Workout-Of-the-Day (WOD). This application application will include a leaderboard, user profiles and a customizable workout experience.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../static/zsquad.png" alt="z-squad" >
              <div class="caption">
                <h4><a href="https://github.com/asu-cis-capstone/z-squad" onclick="window.open(this.href); return false" ><b>Z-Squad</b></a></h4>
                <p>ZooPhy is web application aimed at providing helpful and insightful analysis on virus trajectories to researchers and public health
				agencies.</p>
              </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../static/buyback.png" alt="buyback">
              <div class="caption">
                
				<h4><a href="https://github.com/asu-cis-capstone/buyback" onclick="window.open(this.href); return false" ><b>Buyback Boss</b></a></h4>
                <p>Created a comprehensive referral program for Buyback Boss, a re-commerce business, to increase traffic to the site by using customer-to-customer
 				marketing. The referral program will also give the business a personal touch by persuading customers who may be skeptical about selling their 
 				phone online with their own friends' testimonials.</p>
              </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../static/sparkswag.png" alt="">
              <div class="caption">
                
				<h4><a href="https://github.com/asu-cis-capstone/sparkswag" onclick="window.open(this.href); return false" ><b>Sparkswag</b></a></h4>
                <p>Spark allows any student, anywhere, to participate in cutting-edge research. It is seeking passionate students and inspiring 
+				researchers to join the Spark community to collaborate on pressing challenges in science, technology, engineering and math.</p>
              </div>
          </div>
        </div>
		 
      </div>
      
    </div><!-- End container row 1 -->
	
	 <!-- row 2 start -->
	<div class="container" id="tourpackages-carousel">
	
	
		<div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../static/sogeti.png" alt="sogeti">
              <div class="caption">
                <h4><a href="https://github.com/asu-cis-capstone/sogetiskills" onclick="window.open(this.href); return false" ><b>Beach</b></a></h4>
                <p>Created a record keeping software that tracks consultants and their skills, a summary website, and a small web application that will allow 
 				users at Sogeti USA to find consultants who are on "the beach."</p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../static/summit.png" alt="summit" >
              <div class="caption">
                <h4><a href="https://github.com/asu-cis-capstone/summitsolutions" onclick="window.open(this.href); return false" ><b>Summit Structural AZ</b></a></h4>
                <p>
				Summit Structural is a company that offers Structural Forensic Investigations on buildings for people. 
				We created a website that will be used as a Contact, Marketing, Advertising tool for future clients.
				</p>
              </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../static/smock.png" alt="smockish">
              <div class="caption">
                
				<h4><a href="https://github.com/asu-cis-capstone/smockish" onclick="window.open(this.href); return false" ><b>Smockish</b></a></h4>
                <p>Created an e-commerce site for artists to sell directly to collectors, cutting out galleries and their hefty commissions fees.</p>
              </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../static/aero.jpg" alt="aero" >
              <div class="caption">
                
				<h4><a href="https://github.com/asu-cis-capstone/aero" onclick="window.open(this.href); return false" ><b>aero</b></a></h4>
                <p>Aeroapps is asking for an adaptive learning mobile application to be built for them that will integrate a database that we will 
				also create to facilitate the certification process for pilots in training.</p>
              </div>
          </div>
        </div>
		 
      </div><!-- End row -->
      
    </div><!-- End container row 2 -->
	
	
	
	
{% endblock %}