{% extends "base_navigation.html" %}
{% block content %}	
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">Projects 
	
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
		
<div class="container-fluid addPadding">
			{% for row in rows: %}
					<div class="row">		
					<div class="col-md-12">
					<div class="container">
					<div class="row panelshadow" style="background-color: #fff">
					<div class="panel panel-default panelborder">
					<!-- Default panel contents -->
					<div class="panel-heading panelHeaderBlack ">{% print row[1] %}<hr style="margin: 0px; padding: 0px;"></div>
					<table class="panelshadow">
					<div class="col-md-1 projectUpvote">								
								<form id="upvoteForm" action="/upvote{% print row[0] %}" method="post">
								<input type="submit" name="submit" value="Upvote"></input>
								</form>
								<span class="rating">{% print row[4] %}</span>
								<form id="downvoteForm" action="/downvote{% print row[0] %}" method="post">
								<input type="submit" name="submit" value="Downvote"></input>
								</form>									
					</div>
					<div class="col-md-8 projectDescription">
					<div class="row">
					<div class="col-md-12 projectDescription">
					<p>{% print row[2] %}</p>
					</div>
					</div>
					<div class="row">
					<div class="col-md-12 projectComments">
					<a class="showComment">View Dr. Clark's Comments</a>
					<div class="hideNew" style="display: none;">
						{% print row[3] %}
					</div>

					<div id="insert{%print row[0] %}"></div>
					</div>
					</div>
					</div>
					<div class="col-md-3 projectPicture">
					<p>Company Logo Here</p>
					</div>
					</table>
					</div>
					</div>
					</div>
			{% endfor %}
				</div>
			</div>
	</div>
		
	<script>
		$(function() {
			$('.showComment').click(function(e) {
				$(event.target).next().fadeToggle()
			});
		});
	</script>	
{% endblock %}	
