<!DOCTYPE html>
<html>
  <head>
    <title>CAPx - CIS 440</title>
	
	 <!-- Meta tag -->
	<meta name="robots" content="noindex, nofollow" />	
    <meta charset="utf-8" />

    <!-- Link tag for CSS -->
	
	<link type="text/css" rel="stylesheet" href="../static/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="../static/dist/css/bootstrap-theme.css" />
	<link type="text/css" rel="stylesheet" href="../static/dist/css/css5.css" />
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
	
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	
	<!-- JavaScript Tags -->
	<script type="text/javascript" src="../static/dist/js/bootstrap.min.js"></script>

  </head>
  
  
  
  <body>
    <div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="section1">
					<div class="container">
							<div class="row">
								<nav class="navbar navbar-default">
									  <div class="container-fluid">
										<!-- Brand and toggle get grouped for better mobile display -->
										<div class="navbar-header">
										  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										  </button>
										  <a class="navbar-brand" href="#"><img style="max-height: 45px; margin-top: -13px; padding: none;" src="../static/logo3.png" alt="logo1"/></a>
										</div>
										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										  <ul class="nav navbar-nav move-right">
											<li class="navbarlist navitems"><a href="#"><!--<span class="glyphicon glyphicon-home msgtext" aria-hidden="true"></span>-->Home</a></li>
																				
											<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<strong class="caret"></strong></a>
											<ul class="dropdown-menu">
											<li>
											<a href="welcome.html">Projects</a>
											</li>
											</li>
											<li>
											<a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contact" data-original-title>Submit Project</a>
											
											</li>
											</ul>
											<li class="navbarlist navitems"><a href="#">Showroom</a></li>
											
											<li class="navbarlist navitems"><a href="about.html">About</a></li>
										  </ul>
										  
										  <ul class="nav navbar-nav navbar-right ">
											<li class="dropdown">
											  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Log In <span class="caret"></span></a>
											  <ul class="dropdown-menu expandLogin" role="menu">

												<form id="joinform" action="/login.html" method="post">
														<p>
															<!-- Username -->
															<label for="username">Username:</label>
															<input type="text" id="username" name="username"
															required autofocus
															pattern="[a-zA-Z0-9-_!$]{4,15}"
															title="Username: 4-15 chars, u/l case letters, 0-9, - _ ! or $ only!"															
															/>
															
															<!-- Password -->
															<label for="password">Password:</label>
															<input type="password" id="password" name="password" 
															required
															pattern="[a-zA-Z0-9-_!$]{5,15}"
															title="Password: 5-15 chars, u/l case letters, 0-9, - _ ! or $ only. No spaces."															
															/>
															<input type="submit" value="Login" />
														</p>
													</form>	
												<li><a href="#" style="text-align: right";>Don't have an account? Register Here</a></li>
												<li class="divider"></li>

											  </ul>
											</li>
										  </ul>
										</div><!-- /.navbar-collapse -->

									  </div><!-- /.container-fluid -->
									</nav>
							</div>
					</div>
				</div>
			</div>
	</div>
		
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="sitenav">
					<div class="container">
							<div class="row">
							
								<p class="header6">Projects 
	
								</p>
							</div>
					</div>
				</div>
			</div>
	</div>
		
<div class="container-fluid addPadding">
			{% for row in rows: %}
					<div class="row">		
					<div class="col-md-12">
					<div class="container">
					<div class="row panelshadow" style="background-color: #fff">
					<div class="panel panel-default panelborder">
					<!-- Default panel contents -->
					<div class="panel-heading panelHeaderBlack ">{% print row[1] %}   ---!!! This text was loaded from a Heroku postgres DB !!!---<hr style="margin: 0px; padding: 0px;"></div>
					<table class="panelshadow">
					<div class="col-md-1 projectUpvote">								
								<form id="upvoteForm" action="/upvote{% print row[0] %}" method="post">
								<input type="submit" name="submit" value="Upvote"></input>
								</form>
								<span class="rating">{% print row[4] %}</span>
								<form id="downvoteForm" action="/downvote{% print row[0] %}" method="post">
								<input type="submit" name="submit" value="Downvote"></input>
								</form>									
					</div>
					<div class="col-md-8 projectDescription">
					<div class="row">
					<div class="col-md-12 projectDescription">
					<p>{% print row[2] %} ---!!! This text was loaded from a Heroku postgres DB !!!---</p>
					</div>
					</div>
					<div class="row">
					<div class="col-md-12 projectComments">
					<a class="showComment">View Dr. Clark's Comments</a>
					<div class="hideNew" style="display: none;">
						{% print row[3] %}
					</div>

					<div id="insert{%print row[0] %}"></div>
					</div>
					</div>
					</div>
					<div class="col-md-3 projectPicture">
					<p>Company Logo Here</p>
					</div>
					</table>
					</div>
					</div>
					</div>
			{% endfor %}
				</div>
			</div>
	</div>
	
	
		<div class="container">
	<div class="row">
    <br/><br/><br/>
        
       
        </a>
        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Project Submit Form.</h4>
                    </div>
                    <form action="#" method="post" accept-charset="utf-8">
                    <div class="modal-body" style="padding: 5px;">
					
							<div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <a href="../static/projectreq.jpg" target="_blank">Guide lines for suitable projects</a>
                                </div>
                            </div>
					
                          <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="firstname" placeholder="First name" type="text" title="Name: 4-30 chars, u/l case letters and - or ' only!" required autofocus pattern="[a-zA-Z-' ]{4,30}" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="lastname" placeholder="Last name" type="text" title="Last name: 4-30 chars, u/l case letters and - or ' only!" required pattern="[a-zA-Z-' ]{4,30}"/>
                                </div>
                            </div>
							
							<div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="email" placeholder="E-mail" type="text" title="E-mail: example@google.com" required maxlength="50" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="phone" placeholder="Phone #"  type="tel" title="Phone: ex 555-555-5555" maxlength="10"/>
                                </div>
                            </div>
							
							
							
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input class="form-control" name="company" placeholder="Company name" type="text" required  pattern="[a-zA-Z-' ]{4,30}"/>
                                </div>
                            </div>
							<div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input class="form-control" name="project" placeholder="Project name" type="text" required />
									
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <textarea style="resize:vertical;" class="form-control" maxlength="500" placeholder="Brief Project description" rows="6" name="comment" required></textarea>
                                </div>
                            </div>
							
							<div class="row">
							<div class="form-group">
								<div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 1px;">
                               <label class=" control-label"textarea style="resize:vertical;" for="checkboxes">Tools used:</label>
								<div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;"">
								<label class="checkbox-inline" for="checkboxes-0">
								<input name="checkboxes" textarea style="resize:vertical;"id="checkboxes-0" value="1" type="checkbox">
								HTML
								</label>
								<label class="checkbox-inline" for="checkboxes-1">
								<input name="checkboxes" textarea style="resize:vertical;"id="checkboxes-1" value="2" type="checkbox">
								CSS
								</label>
								<label class="checkbox-inline" for="checkboxes-2">
								<input name="checkboxes" textarea style="resize:vertical;"id="checkboxes-2" value="3" type="checkbox">
								C#
								</label>
								<label class="checkbox-inline" for="checkboxes-3">
								<input name="checkboxes" textarea style="resize:vertical;"id="checkboxes-3" value="4" type="checkbox">
								SQL
								</label>
								<label class="checkbox-inline" for="checkboxes-3">
								<input name="checkboxes" textarea style="resize:vertical;"id="checkboxes-4" value="5" type="checkbox">
								JavaScript
								</label>
							  
                            </div>
								
                            </div>
							
							</div>
                         </div>
						 <div class="form-group">
							<label class=" control-label" for="filebutton">Company Logo:</label>
								<div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
								<input id="filebutton" name="filebutton" class="input-file" type="file">
								</div>
							</div>
							
							
                        </div>  
                        <div class="panel-footer" style="margin-bottom:-14px;">
                            <input type="submit" class="btn btn-success" value="Send"/>
                                <!--<span class="glyphicon glyphicon-ok"></span>-->
                            <input type="reset" class="btn btn-danger" value="Clear" />
                                <!--<span class="glyphicon glyphicon-remove"></span>-->
                            <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
        
	</div>
   
    
</div>
	
	
	
		
	<script>
		$(function() {
			$('.showComment').click(function(e) {
				$(event.target).next().fadeToggle()
			});
		});
	</script>	
  </body>
</html>